@font-face {
     font-family: 'Nebula Futuristic';
     src: url('../fonts/Nebula-Regular.otf') format('opentype'); 
     font-weight: normal;
     font-style: normal;
 }
 
 .nebula-futuristic {
     font-family: 'Nebula Futuristic', sans-serif;
 }
 
 @font-face {
     font-family: 'ethnocentric rg';
     src: url('../fonts/ethnocentric rg.otf') format('opentype'); 
     font-weight: normal;
     font-style: normal;
 }
 
 .ethnocentric-rg{
     font-family: 'ethnocentric rg', sans-serif;
 }
 
 @font-face {
     font-family: 'ethnocentric rg it';
     src: url('../fonts/ethnocentric rg it.otf') format('opentype'); 
     font-weight: normal;
     font-style: normal;
 }
 
 .ethnocentric-rg-it{
     font-family: 'ethnocentric rg it', sans-serif;
 }
 
 @font-face {
     font-family: 'Horizon.ttf';
     src: url('../fonts/Horizon.ttf') format('opentype'); 
 }
 
 .Horizon{
     font-family: 'Horizon.ttf', sans-serif;
 }

